<ion-view view-title="找幫手">
 <ion-content>
   <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search History">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>


  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-001.jpg">
     <h2>康必得清潔公司</h2>
    <p>November 05, 2014</p>
  </div>

  <div class="item item-body">
     <a href="#"><img class="full-image" src="img/c-01.jpg"></a>
   <ul class="list">
    <li class="item item-divider">
     <B>公司基本資料</B>
    </li>
    <li class="item">
     公司地址 : 台北市松山區新東街30巷1樓
    </li>
     <li class="item">
     公司電話 : (02)29876543
    </li>
    <li class="item">
   服務人員 : 20人
    </li>
     <li class="item">
   服務案例 : 1352 件
    </li>
    <li class="item">
   證照 : 合格證書　10 張
    </li>
</ul>

  <ul class="list">
    <li class="item item-divider">
     <B>價目表</B>
    </li>
     <li class="item">
     垃圾清運 :5KG(內) NT$3000元
    </li>
     <li class="item">
   油漆 : 10坪　NT$8000元
    </li>
    <li class="item">
   水電修繕 : 依當場情況估價
    </li>
    <li class="item">
  清潔 : 3 小時　NT$1000元
    </li>
</ul>
  </div>

  

</div>

<div class="button-bar">
  <a class="button" href="#/app/search">取消</a>
  <a class="button" href="#/app/list">確認</a>
</div>

 