<ion-view view-title="找幫手">
  <ion-content class="bg-stable">
    <ion-slide-box class="home-slide" auto-play="true" does-continue="true" show-pager="false" slide-interval="3000">
	  <ion-slide ng-repeat="banner in banners">
	  	<img ng-src="{{banner.img}}" class="home-slide">
	  </ion-slide>
	</ion-slide-box>
	<div>
      <a href="#/app/browse"><div class="item item-image">
      <img src="img/home_01.png" ></a>
      <a href="#/app/search"><div class="item item-image">
      <img src="img/home_02.png" ></a>
    
	<a ng-click="login()"><div class="item item-image">
      <img src="img/home_03.png" ></a>
	</div>
  </ion-content>
</ion-view>