<ion-view view-title="找幫手">
 <ion-content>
   <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search History">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>


  <div class="list card">

  <div class="item item-avatar">
    <img src="img/helper4.jpg">
   <B>預約明細</B>
    <p>November 25, 2015</p>
  </div>

  <div class="item item-body">
   <ul class="list">
    <li class="item item-divider">
     <B>清潔公司</B>
    </li>
     <li class="item">
     清潔公司 :　康必得
    </li>
    <li class="item">
     公司地址 : 台北市松山區新東街30巷1樓
    </li>
     <li class="item">
     公司電話 : (02)29876543
    </li>
</ul>

  <ul class="list">
    <li class="item item-divider">
     <B>服務內容</B>
    </li>

    <div class="row">
  <div class="col"><li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     油漆
     </li></div>

  <div class="col">
<div class="list">

  <label class="input-label">
    <select>
      <option>10 坪　NT$8000元</option>
      <option selected>20 坪　NT$16000元</option>
      <option>30 坪　NT$20000元</option>
    </select>
  </label>

</div>

</div>
</div>
 <div class="row">
  <div class="col"><li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     清潔
     </li></div>

  <div class="col">
<div class="list">

  <label class="input-label">
    <select>
      <option>3小時　NT$1000元</option>
      <option selected>6小時　NT$3000元</option>
      <option>8小時　NT$50000元</option>
    </select>
  </label>

</div>

</div>


</div>

 </ul>
<button class="button button-light">
修改
</button>
<button class="button button-light">
刪除
</button>

  </div>
 <ul class="list">
    <li class="item item-divider">
     <B>服務日期</B>
    </li>


 <div class="row">
  <div class="col"><li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     日期
     </li></div>

  <div class="col">
<div class="list">

  <label class="input-label">
    <select>
      <option>2015/11/24</option>
      <option selected>2015/11/25</option>
      <option>2015/11/26</option>
    </select>
  </label>

</div>

</div>
</div>
 <div class="row">
  <div class="col"><li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     時間
     </li></div>

  <div class="col">
<div class="list">

  <label class="input-label">
    <select>
      <option>AM 10:30-13:30</option>
      <option selected>PM 13:30-14:30</option>
      <option>PM 14:30-16:30</option>
    </select>
  </label>

</div>
</div>
</ul>
<button class="button button-light">
  修改
</button>
<button class="button button-light">
刪除
</button>
  </div>
  
 </div>
</div>

<div class="button-bar">
  <a class="button" href="#/app/search">取消訂單</a>
  <a class="button" href="#/app/order">確認訂單</a>

</div>

 