<ion-view view-title="找幫手">
 <ion-content>
   <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search History">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>


 
<div class="card">
  <div class="item item-text-wrap">
  <div class="item item-image">
    <img src="img/helper4.jpg">
  </div>
  <ul class="list">
    <li class="item">
     <h1>傳送成功 !</h1>

    </li>
     <li class="item">
    您的訂單號為<b> PB165823</b> 
     </li>
         <li class="item">
    好幫手將於5分鐘之內回覆您，再次感謝您的訂購。
     </li>
</ul>
        
  </div>
</div>