<ion-view view-title="尋找好幫手">
  <ion-content>
    <img src="img/find.png" class="responsive-img">
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>
  <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      所在縣市
    </div>
    <select>
      <option selected>台北</option>
      <option>台中</option>
      <option>台南</option>
      <option>高雄</option>
      <option>桃園</option>
      <option>新竹</option>
    </select>
  </label>
    <label class="item item-input item-select">
    <div class="input-label">
      地區 / 路名
    </div>
    <select>
      <option selected>松山區</option>
      <option>信義區</option>
      <option>大安區</option>
      <option>萬華區</option>
    </select>
  </label>
      <label class="item item-input item-select">
    <div class="input-label">
      服務內容
    </div>
    <select>
      <option selected>防水抓漏</option>
      <option>局部裝修</option>
      <option>水電工程</option>
      <option>地板工程</option>
    </select>
  </label>
   <label class="item item-input item-select">
    <div class="input-label">
      月
    </div>
    <select>
      <option selected>1 月</option>
      <option>2 月</option>
      <option>3 月</option>
      <option>4 月</option>
      <option>5 月</option>
      <option>6 月</option>
      <option>7 月</option>
      <option>8 月</option>

    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      日
    </div>
    <select>
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </label>
    <label class="item item-input item-select">
    <div class="input-label">
      時
    </div>
    <select>
      <option selected>8 AM-9 AM</option>
      <option>9 AM-10 AM</option>
      <option>10 AM-11 AM</option>
      <option>11 AM-12 AM</option>
    </select>
  </label>
     <label class="item item-input item-select">
    <div class="input-label">
      人數
    </div>
    <select>
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </label>
<div class="button-bar">
  <a class="button" href="#/app/searchresult">開始搜尋</a>
</div> </div>
  </ion-content>
</ion-view>
