<ion-view view-title="找幫手">
 <ion-content>
   <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search History">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

<div class="card">
  <div class="item item-text-wrap">
    Show total 5 results
  </div>
</div>
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-001.jpg">
     <h2>康必得清潔公司</h2>
    <p>November 05, 2014</p>
  </div>

  <div class="item item-body">
      <a href="#/app/choose"><img class="full-image" src="img/c-001.jpg"></a>
    <p>
     關於公司的緣起，大概於民國九十六年時，那時候因為我們夫妻倆本身都非常的忙碌，常常回到家都晚上九點多了，一回到家還要忙著幫年幼的兩個小孩洗澡，其實心裡都還再想著明天要準備的報告，往往都弄到很晚才上床休息。一到假日，幾乎兩個人都像癱瘓似的，不是睡到日上三竿絕不起床，兩夫妻面對堆積如山待洗的衣物及廚房油膩的杯盤狼藉，心都軟了，更別提要下手清洗這些東西，當時就在想，如果能有人幫我整理家務該有多好？

    </p>
    <p>
      <a href="#" class="subdued">126 Like</a>
      <a href="#" class="subdued">15 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>




  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-002.jpg">
    <h2>恆大環境清潔公司</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
      <a href="#"><img class="full-image" src="img/c-002.jpg"></a>
    <p>
      家事服務最專業
融合公司經營者管理研究所之專長，將原本傳統服務之作法予以整合，重新創立一套更有效率之流程，可有效縮短無效率之作業時間，讓消費者更省錢；即使相同的服務時間，服務的項目將更為多樣。 

    </p>
    <p>
      <a href="#" class="subdued">89 Like</a>
      <a href="#" class="subdued">20 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>



  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-003.jpg">
    
    <h2>徳立除菌清潔公司</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
      <a href="#"><img class="full-image" src="img/c-003.jpg"></a>
   <p>清潔服務最科技
在台灣逐日惡化的居住環境下， 每年的過敏兒及氣喘兒童都逐年增加，「家必潔」率先在作業上引進高科技的德國進口消除塵螨機，對塵螨清除非常有效，目的就是藉更科技的設備為顧客創造更健康且舒適的居住環境。 

    </p>
    <p>
      <a href="#" class="subdued">79 Like</a>
      <a href="#" class="subdued">22 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>




  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-004.jpg">
    <h2>廣鴻修繕清潔公司</h2>
    <p>November 06, 2000</p>
  </div>

  <div class="item item-body">
      <a href="#"><img class="full-image" src="img/c-004.jpg"></a>
    <p>
      創造環境最健康
「家必潔」在清潔劑的使用上不惜花費更高的成本，目前全面選用專業等級所使用的清潔劑，能快速提高作業效能，更能將頑固髒污一次性地徹底清除，之後日常的維護僅需要用清水擦拭即可，可為平常家庭主婦省去購買清潔劑的費用，並為下一代子孫拯救逐年暖化的地球 ；此外，「家必潔」率先引進醫療級的消毒，使用目前被國內外公認為最新一代廣泛且具有高效能的消毒劑，能為顧客把關，創造媲美醫療級的健康環境，讓全家大小更健康。 

    </p>
    <p>
      <a href="#" class="subdued">66 Like</a>
      <a href="#" class="subdued">2 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>




  <div class="list card">

  <div class="item item-avatar">
    <img src="img/c-005.jpg">
    <h2>誠信專業清潔公司</h2>
    <p>November 20, 2011</p>
  </div>

  <div class="item item-body">
     <a href="#"><img class="full-image" src="img/c-005.jpg"></a>
   <p>
      客戶調查最滿意
我們致力於創造社會的良性循環，因此顧客的滿意度就是我們努力的指標，所以每一次的居家清潔體驗服務我們都會做顧客滿意度調查，所有的結果將會影響服務人員的績效與獎金，我們有把握把居家清潔作到更好，讓客戶對我們的服務最滿意。 

    </p>
    <p>
      <a href="#" class="subdued">45Like</a>
      <a href="#" class="subdued">74 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>